a {
    text-decoration: none;
}

header {
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menus ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menus ul li {
    margin: 0 10px;
}

.logo img {
    width: 150px;
}

.title {
    text-align: center;
    text-transform: uppercase;
}
.categories ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.categories {
    margin-top: 50px;
}
.categories ul li {
    margin: 0 30px;
}
.blogs {
    display: flex;
    flex-wrap: wrap;
}
.blogs .blog {
    text-align: center;
    margin: 20px;
    width: 30%;
    height: 100px;
    line-height: 100px;
    background-color: brown;
}