/* header */
.navbar {
    margin: 0px 120px;
    font-size: 20px;
    font-weight: 400;
    color: aliceblue;
}

.header {
    height: 60px;
    border-bottom: 1px solid #000;
    background-color: #212529;
    border-radius: 4;
}

/* content */
.content {
    background-color:#212529;
}

.content-heading,
.content-nnn {
    color: #c5c9ce;
}

.content-nnn {
    font-weight: 300;
    font-size: 20px;
}

.contet-section {
    padding: 92px 0;
    width: 50%;
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;
    flex: 0 0 auto;
}

.contet-section {
    width: 460px;
}

div.b {
    word-wrap: break-word;
}

.btn {
    margin-top: 10px;
}
.btn-content-1 {
    color: #fff;
    background-color: #0d6efd;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
}

.btn-content-2 {
    color: #fff;
    background-color: #6c757d;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
}

.fa-solid.fa-bars {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
}



.col-4 {
    width: 33.3333333333%;
}

.content-heading-s {
    background-color: #212529;
    height: 440px;
    margin-top: 50px;
    border-radius: 8px;
}

.thumbnail {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    background-color: #55595c;
    padding: 94px 0px;
    font-size: 18px;
    color: aliceblue;
}



.content-heading-section {
    color: #fff;
    margin-top: 18px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 18px;
    line-height: 1.5;
}

.carousel-item.active {
    width: 250px;
    justify-content: space-between;
    text-align: center;
}
